@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Roboto:ital@1&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
.home{
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("amir.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(12,11,9,0.6);
    color: white;
    padding: 10px 150px;
}
nav .logo h1{
    text-transform: uppercase;
    color: #cda45e;
    font-size: 25px;
} 
nav .logo h1 span{
    color: white;
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
    text-transform: lowercase;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
    padding: 15px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    transition: 0.4s ease;

}
nav ul li a:hover{
    color: #cda45e;
}
.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    margin-top: -50px;
}
.banner h2{
    color: white;
    text-transform: uppercase;
    border: 1px solid #cda45e;
    padding: 20px;
    letter-spacing: 5px;
    font-size: 30px;
}
.banner h2 span{
    color: #cda45e;
    font-size: 35px ;

}
.banner h3{
    color: white;
    padding:20px ;

    font-weight: 300;
    font-size: 35px;
    font-family: 'Dancing Script', cursive;
}
.special{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
}
.special h1{
    background-color: #cda45e;
    padding: 10px;
    color: #292929;
    font-size: 12px;
    word-spacing: 5px;
    text-transform: uppercase;
    position: fixed;
    top: 55%;
    left: 46.2%;
}
.special .special-box{
    height: 220px;
    width: 160px;
    background: rgba(0,0,0,0.6);
    margin-top: -150px;
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
    display: flex;
    border: 2px solid #cda45e;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.special-box img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #cda45e;
}
.special-box h2{
    color: white;
    font-size: 18px;
    font-weight: 400;
    padding: 10px;
}
.special-box h3{
    color: white;
    font-size: 18px;
    font-weight: 400;
    padding: 5px;
}
